name: Nightscout Azure Deploy

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Zip artifact
        run: zip -r release.zip . -x "node_modules/*" ".git/*"

      - name: Deploy to Azure
        uses: azure/webapps-deploy@v3
        with:
          app-name: aberryshimm-nightscout
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE }}
          package: release.zip
