name: Nightscout Azure Deploy

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Nightscout
        run: npm ci

      - name: Deploy to Azure
        uses: azure/webapps-deploy@v2
        with:
          app-name: aberryshimm-nightscout
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE }}
          package: .
